.changing_w_h{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px darkslategray;
}
.wrist_move{
    font-size: 15px;
    color: brown;

}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    color: deepskyblue;
    background-color: indianred;
    text-align: center;
    font-size: 20;
}
canvas{
    border: 5px solid dimgray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightslategrey;
    
}